.complex-infrastructure {
    &-item {
        padding: 5px;
        cursor: pointer;
        height: 40px;

        &:hover {
            .complex-infrastructure-button {
                background-color: $white;
            }
        }

        &:first-child {
            .complex-infrastructure-button {
                &.active {
                    background-color: $green500;

                    * {
                        color: $white;
                    }
                }
            }
        }
    }
    &-button {
        padding: 3px 5px;
        border-radius: 7px;
        transition: $transition;
        width: 100%;

        &.active {
            background-color: $white;
        }
    }
}
