.lang {
    &-switch {
        padding: 0;
        width: 69px;
        padding-left: 12px;
        padding-right: 5px;
        height: 34px;
        transition: $transition;
        background-color: $gray50;

        &:hover {
            background-color: $gray50 !important;
        }
    }

    &-option,
    &-switch {
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;
        color: $gray900;
    }

    &-option {
        padding: 5px;
        border-radius: 5px;
        transition: $transition;

        &:hover {
            background-color: $gray50;
        }

        &.active {
            background-color: $green500;
            color: $white;
        }
    }
}
