.custom-select-tags {
    .select-tags {
        height: 50px;
        position: relative;

        .ant-select {
            &-selector {
                z-index: 2;
                padding: 13px 10px;
            }
            &-arrow {
                z-index: 1;
            }
            &-selection {
                &-overflow {
                    top: -15px;
                }

                &-placeholder {
                    font-weight: 600;
                    color: #2e3130 !important;
                }

                &-item {
                    border-radius: 50px;
                    line-height: 1.4;
                    padding: 4px 8px;
                    height: fit-content;

                    &-content {
                        font-family: "TT Interfaces";
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 16px;
                        text-align: left;
                    }
                }
            }
        }
    }
}
