.partners-feedback {
    &-wrapper {
        padding: 60px;
        background: linear-gradient(87.79deg, #035040 54.55%, #057d64 84.68%);
        border-radius: 16px;
    }

    &-form {
        max-width: 360px;
        background-color: $gray50;
        padding: 30px;
        border-radius: 12px;
    }

    &-texts {
        max-width: 496px;
        margin-right: 85px;
    }
}
