.contact-sales {
    &-card {
        cursor: pointer;
        &.active {
            background-color: $green500;

            *:not(.custom-tag-text) {
                color: $white !important;
            }
        }

        .white-button {
            height: 36px;

            &:hover {
                color: $gray900 !important;
            }
        }

        &-title {
            padding-right: 30px;
        }
    }
}
