.header {
    height: 70px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    margin-bottom: 20px;
    background-color: $white;
    z-index: 999;
    box-shadow: 0px 0px 24px -10px #2e31301a;

    &-icon {
        height: 34px;
        width: 34px;
        border-radius: 4px;
        background-color: $gray50;
        position: relative;

        &.active {
            &:after {
                content: "";
                display: block;
                width: 8px;
                height: 8px;
                border-radius: 50px;
                background-color: #10856d;
                border: 1px solid $gray50;
                position: absolute;
                top: 5px;
                right: 5px;
            }
        }
    }

    &-container {
        max-width: 1240px;
        width: 100%;
        display: flex;
        align-content: center;
        margin: 0 auto;
    }

    &-link {
        display: flex;
        gap: 7px;
        align-items: center;
        transition: $transition;
        color: $gray500;
        font-family: "TT Interfaces";
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.01em;
        height: fit-content;
        cursor: pointer;
        animation: fadeIn 0.5s;

        &:first-child {
            background-color: $green500;
            color: $white !important;
            padding: 5px 12px;
            border-radius: 5px;
        }

        &:hover {
            color: $green500;
        }

        &.active {
            color: $green500;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    &-phone {
        font-family: "TT Interfaces";
        font-size: 15px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.01em;
    }
}

.full-width-dropdown {
    max-width: 1440px;
    width: 100%;
    // background-color: #;
}
