.payment-faq {
    .ant {
        &-collapse {
            &-header {
                align-items: center !important;
            }
            &-expand {
                &-icon {
                    background-color: $white;
                    padding-inline-start: 0 !important;
                    width: 44px;
                    height: 44px !important;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 8px;
                }
            }
        }
    }

    &-buttons {
        .ant {
            &-btn {
                background-color: $gray50;
                color: $green300;
                &.active {
                    background-color: $green300;
                    color: $white;
                }

                &:disabled {
                    opacity: 0.9;
                    border-color: $gray50;
                    color: $gray100;
                }
            }
        }
    }
}
