.complex-banner {
    position: relative;
    &-carousel {
        height: 420px;
        border-radius: 16px;
        overflow: hidden;
    }

    .slick {
        &-dots {
            right: 40px;
            bottom: 30px;
            justify-content: flex-end;
        }
    }
}
